<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquitectura - Proyectos FIA</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <h1>Proyectos de Arquitectura</h1>
        <a href="../index.html">Regresar al Inicio</a>
    </header>
    <section class="contenido">
        <div class="tarjeta" onclick="mostrarInformacion('Proyecto A1', 'Descripción...', './images/proyectoA1.png')">
            <h2>Proyecto 1</h2>
            <img src="../images/Arquitectura.jpeg" alt="Proyecto A1">
            <p>Los jovenes de arquitectura diseñaron y crearon a mano la catedral de "Paris Francia"</p>
        </div>
        <div class="tarjeta" onclick="mostrarInformacion('Proyecto A1', 'Descripción...', './images/proyectoA1.png')">
            <h2>Proyecto 2</h2>
            <img src="../images/arquitectura1.jpeg" alt="Proyecto A1">
            <p>de la misma manera jovenes emprendieron su proyecto con un diseño unico y creado por estudiantes Univo</p>

            <div class="tarjeta" onclick="mostrarInformacion('Proyecto A1', 'Descripción...', './images/proyectoA1.png')">
                <h2>Proyecto 2</h2>
                <img src="../images/arquitectura3.jpeg " alt="Proyecto A1">
                <p> tambien presentaron una casa con una vista a las montañas</p>
        </div>
    </section>
    <script src="../controlar.js"></script>
</body>
</html>