<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingenieria Industrial</title>
</head>
<body> <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <h1>Proyectos de Ingenieria Industrial</h1>
        <a href="../index.html">Regresar al Inicio</a>
    </header>
    <section class="contenido">
        <div class="tarjeta" onclick="mostrarInformacion('Proyecto 1', 'Descripción...', './images/b1.png')">
            <h2>Proyecto A1</h2>
            <img src="../images/b1.png" alt="Proyecto A1">
            <p>Descripción breve...</p>
        </div>
        <div class="tarjeta" onclick="mostrarInformacion('Proyecto 2', 'Descripción...', './images/b1.png')">
            <h2>Proyecto A1</h2>
            <img src="../images/b1.png" alt="Proyecto A1">
            <p>Descripción breve...</p>
        </div>
    </section>
    <script src="../controlar.js"></script>   
</body>
</html>