<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingenieria Industrial</title>
</head>
<body> <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <h1>Proyectos de Ingenieria Industrial</h1>
        <a href="../index.html">Regresar al Inicio</a>
    </header>
    <section class="contenido">
        <div class="tarjeta" onclick="mostrarInformacion('Proyecto 1', 'Descripción...', './images/b1.png')">
            <h2>Proyecto A1</h2>
            <img src="../images/Industrial.jpeg" alt="Proyecto A1">
            <p>jovenes de Ing industrial no se quedaron atras al presentar sus proyectos en esta ocasion, una pagina donde
                ayuda a prevenir enfermedades antes de tiempo para que los jovenes puedan tener una vida saludable</p>
            </p>
    </section>
    <script src="../controlar.js"></script>   
</body>
</html>