<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingenieria Civil</title>
</head>
<body> <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <h1>Proyectos de Arquitectura</h1>
        <a href="../index.html">Regresar al Inicio</a>
    </header>
    <section class="contenido">
        <div class="tarjeta" onclick="mostrarInformacion('Proyecto 1', 'Descripción...', './images/b1.png')">
            <h2>Proyecto A1</h2>
            <img src="../images/civil.jpeg" alt="Proyecto A1">
            <p>con una evolucion de impacto social jovenes de ingenieria Civil hacen y trabajan en proyectos de arquitectura</p>
        </div>
        <div class="tarjeta" onclick="mostrarInformacion('Proyecto 2', 'Descripción...', './images/b1.png')">
            <h2>Proyecto A1</h2>
            <img src="../images/civil2.jpeg" alt="Proyecto A1">
            <p>Tambien jovenes muestran su talento en proyectos de arquitectura</p>
        </div>

        <div class="tarjeta" onclick="mostrarInformacion('Proyecto 3', 'Descripción...', './images/b1.png')">
            <h2>Proyecto A1</h2>
            <img src="../images/civil 3.jpeg" alt="Proyecto A1">
            <p>Tambien jovenes muestran su talento en proyectos de tejas, dando a conocer al mercado los diferentes tipos de tejas
                que existen en El salvador
            </p>
        </div>
    </section>
    <script src="../controlar.js"></script>   
</body>
</html>