<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingeniería en Desarrollo de Software</title>
</head>
<body> <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <h1>Proyectos de Ingeniería en Desarrollo de Software</h1>
        <a href="../index.html">Regresar al Inicio</a>
    </header>
    <section class="contenido">
        <div class="tarjeta" onclick="mostrarInformacion('Proyecto 1', 'Descripción...', './images/b1.png')">
            <h2>Proyecto A1</h2>
            <img src="../images/software.jpeg" alt="Proyecto A1">
            <p>el proyecto de software tuvo una creacion desde visual comunnity utilizando windows forms jovenes crearon su propio Crud
                con el lenguaje de C#
            </p>
        </div>
        </div>
    </section>
    <script src="../controlar.js"></script>  
    
</body>
</html>